<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscrição Realizada com Sucesso</title>
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h1>Inscrição Realizada com Sucesso!</h1>
        <p>Obrigado por se inscrever para a pernoite. Estamos ansiosos para vê-lo lá!</p>
        <a href="/incricao/pernoite/" style="text-decoration: none; color: blue;">Voltar ao Formulário</a>
    </div>
</body>
</html>